In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [10]:
df = pd.read_csv("Boy_or_girl_train.csv")
df.head()

,index,Timestamp,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,0,2017-07-04 13:47:57.495,2.0,處女座,Apple,154.0,43.0,2.0,180.0,583.0,0,Beautiful
1,1,2017-07-04 13:48:25.645,2.0,處女座,Apple,156.0,47.0,2.0,130.0,400.0,3.5,Enjoying being who I'm not
2,2,2017-07-04 13:49:15.348,1.0,射手座,Android,170.0,61.0,3.0,90.0,540.0,5,Practice Makes perfect
3,3,2017-07-04 13:49:15.792,1.0,射手座,Apple,170.0,62.0,4.0,100.0,173.0,5,Straightforward
4,4,2017-07-04 13:54:39.330,2.0,射手座,Android,158.0,67.0,3.0,128.0,320.0,1.2,Humorous

In [11]:
import sys  
sys.path.insert(0, '')

from preprocessor import preprocess

In [12]:
clean_df = preprocess(df)

In [25]:
features = clean_df.iloc[:, 3:]
label = clean_df['gender']

In [26]:
features.head(1)

   height  weight  sleepiness  iq  fb_friends  yt  new_self_intro        bmi
0       1       4         2.0   9           2   0               0  27.473169

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(features, label, test_size=0.2, random_state=1)

In [28]:
print(X_train.to_numpy().shape)
print(y_train.to_numpy().shape)
print(X_val.to_numpy().shape)
print(y_val.to_numpy().shape)

(195, 8)
(195,)
(49, 8)
(49,)

In [29]:
model = RandomForestClassifier(n_estimators=100, random_state=0)
clf = model.fit(X_train.astype('int'), y_train.astype('int'))
clf

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [30]:
clf.score(X_train, y_train)

0.9846153846153847

In [31]:
clf.score(X_val, y_val)

0.9183673469387755

### Predict on Test set

In [32]:
test = pd.read_csv("Boy_or_girl_test_no_solution - 砍int長度.csv")
test.head(1)

,index,Timestamp,gender,star_sign,phone_os,height,weight,sleepiness,iq,fb_friends,yt,self_intro
0,0,2018-09-10 10:12:58.794,0.0,摩羯座,Android,174.0,76.5,3,120,555,0.0,I am alive.

In [33]:
test = preprocess(test)
test = test.iloc[:, 3:]

In [34]:
test.head(1)

   height  weight  sleepiness  iq  fb_friends  yt  new_self_intro        bmi
0       5       6           3   6           2   0               0  25.267539

In [35]:
prediction = clf.predict(test)
prediction = list(map(lambda x: 2 if x==-1 else x, prediction))
prediction

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1]

In [36]:
submission = {
    'index': list(range(0,185)),
    'gender': prediction
}
submission = pd.DataFrame.from_dict(submission)
submission.head(3)

   index  gender
0      0       1
1      1       1
2      2       1